<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://toppng.com/uploads/preview/circular-arrow-comments-repeat-icon-11563144895mxzlmam8zn.png">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">


            <a class="navbar-brand" href="/"> <strong><i class="fa fa-repeat" aria-hidden="true"></i> Habit Tracker</strong></a>

            <!-- <div class=" navbar-collapse" id="navbarSupportedContent"> -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/details">Details</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Habit" aria-label="Search" id="searchbar" onkeyup="search_habit()">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </form>
            <!-- </div> -->
        </div>
      </nav>
    <%-include('_header') %>

    <%- body %>

    <%- include('_footer') %>
    <%- script %>
    <script type="text/javascript" src="/js/layout.js"></script>
</body>
</html>
